""
                                #TEST YOUR PYTHON KNOWLEDGE

1. Write a python code to collect information from the user and print all the vowels in that info.

2. Write a python code to extract all the common letters between 2 strings and store them in a list.

3. Write a python code to generate the sum of all the numbers that are divisible by 2 and 5 between 1 and 50.

4. From the list ['python','java','kotlin','swift','C','C++','javascript','PHP','Ruby','R','Go'],

print only java, swift, C++, PHP and R.

5. nums =[34,56,21,32,78,54,32,12,25,31,89,50, 63, 59, 88, 92, 84, 90,93, 77,89]

using the concept of for loop, print only 56, 78, 54, 89, 50,63,59,88,92,84,90,93,77,89 not necessarily in that order.

6. mlist = ["apple", "sugar", "cane","banana","ape","pawpaw","orange","pineapple","breadfruit"]

using the concept of for loop, print only banana, orange, pawpaw, pineapple and breadfruit.

7. mlist1 =['apple','banana','orange','apple','banana','pawpaw','colanut','pawpaw','apple']
mlist2 =[].

#Extract all the elements that appear more than once from mlist1 and store them in mlist2 and there must not be
duplicate in mlist2.

8. mlist1 =['apple','banana','orange','apple','banana','pawpaw','colanut','pawpaw','apple']

#each element in the list should be the key in the dict while the number of times each element appear in the list should be
the value to the corresponding element in the dict.

the result should be {'apple':3, 'banana':2,'orange':1,'pawpaw':2,'colanut':1}
   


9. Write a Python program that calculates the Average Grade Point (AGP)of a student based on the scores entered by the user.
The program should:#
i) prompt the user to enter the number of subjects
 ii) prompt the user to enter the scores for each subject,
iii) calculate the average grade using the formula: Average Grade = Total Score / Number of Subjects and
iv) display the average grade to the user.

"""

Write a python code to collect information from the user and print all the vowels in that info.

In [1]:
def extract_vowels(text):
    vowels = "aeiouAEIOU"
    vowel_list = [char for char in text if char in vowels]
    return vowel_list

def main():
    user_info = input("Please enter some text: ")
    vowels_in_info = extract_vowels(user_info)

    if vowels_in_info:
        print('Vowels in the provided text are:', ' '.join(vowels_in_info))
    else:
        print('No vowels found in the provided text.')

if __name__ == "__main__":
    main()

Please enter some text: Jacob
Vowels in the provided text are: a o

In [2]:
vowel_list = list('aeiou')
count = 0
name = input('Enter a name to get number of vowels: ')
for char in name:
  if char in vowel_list:
    count += 1

print(f'Vowels present : {count}')

Enter a name to get number of vowels: Jacob
Vowels present : 2

In [ ]:
def collect_and_extract_vowels():
  """
  This function collects information from the user and prints all the vowels in that information.
  """

  # Collect information from the user
  information = input("Please enter some information: ")

  # Extract and print vowels
  vowels = []
  for char in information:
    if char in "aeiouAEIOU":
      vowels.append(char)
  print("Vowels:", vowels)

collect_and_extract_vowels()

Write a python code to extract all the common letters between 2 strings and store them in a list.

In [ ]:
def common_letters(string1, string2):
    common = []
    for char in string1:
        if char in string2 and char not in common:
            common.append(char)
    return common

def main():
    string1 = input("Enter the first string: ")
    string2 = input("Enter the second string: ")

    common_letters_list = common_letters(string1, string2)

    if common_letters_list:
        print("Common letters between the two strings:", ' '.join(common_letters_list))
    else:
        print("No common letters found between the two strings.")

if __name__ == "__main__":
    main()

Enter the first string: yam
Enter the second string: bam
Common letters between the two strings: a m

In [ ]:
def common_letters(string1, string2):


  common_letters = []
  for letter in string1:
    if letter in string2 and letter not in common_letters:
      common_letters.append(letter)
  return common_letters

# Example usage
string1 =  input("Enter the first string: ")
string2 = input("Enter the second string: ")
common_letters = common_letters(string1, string2)
print(common_letters)

Enter the first string: Yam
Enter the second string: Bam
['a', 'm']

Write a python code to generate the sum of all the numbers that are divisible by 2 and 5 between 1 and 50.

In [ ]:
def sum_divisible_by_2_and_5(start, end):
    total_sum = 0
    for num in range(start, end + 1):
        if num % 2 == 0 and num % 5 == 0:
            total_sum += num
    return total_sum

def main():
    start = 1
    end = 50
    result = sum_divisible_by_2_and_5(start, end)
    print("Sum of numbers divisible by 2 and 5 between 1 and 50:", result)

if __name__ == "__main__":
    main()

Sum of numbers divisible by 2 and 5 between 1 and 50: 150

In [ ]:
sum = 0
for i in range(1, 51):
    if i % 2 == 0 and i % 5 == 0:
        sum += i
print('Sum of numbers divisible by 2 and 5 between 1 and 50:', sum)

Sum of numbers divisible by 2 and 5 between 1 and 50: 150

From the list ['python','java','kotlin','swift','C','C++','javascript','PHP','Ruby','R','Go'],

print only java, swift, C++, PHP and R.

In [ ]:
listA = ['python', 'java', 'kotlin', 'swift', 'C', 'C++', 'javascript', 'PHP', 'Ruby', 'R', 'Go']

listB = ['java', 'swift', 'C++', 'PHP', 'R']

# Iterate over the languages list and print the desired languages
for listA in listA:
    if listA in listB:
        print(listA)

java
swift
C++
PHP
R

nums =[34,56,21,32,78,54,32,12,25,31,89,50, 63, 59, 88, 92, 84, 90,93, 77,89]
using the concept of for loop, print only 56, 78, 54, 89, 50,63,59,88,92,84,90,93,77,89 not necessarily in that order.

In [ ]:
nums = [34, 56, 21, 32, 78, 54, 32, 12, 25, 31, 89, 50, 63, 59, 88, 92, 84, 90, 93, 77, 89]
desired_nums = [56, 78, 54, 89, 50, 63, 59, 88, 92, 84, 90, 93, 77, 89]

for num in nums:
    if num in desired_nums:
        print(num)

56
78
54
89
50
63
59
88
92
84
90
93
77
89

mlist = ["apple", "sugar", "cane","banana","ape","pawpaw","orange","pineapple","breadfruit"]
using the concept of for loop, print only banana, orange, pawpaw, pineapple and breadfruit.

In [ ]:
mlist = ["apple", "sugar", "cane","banana","ape","pawpaw","orange","pineapple","breadfruit"]

for fruit in mlist:
    if fruit in ["banana", "orange", "pawpaw", "pineapple", "breadfruit"]:
        print(fruit)

banana
pawpaw
orange
pineapple
breadfruit

 mlist1 =['apple','banana','orange','apple','banana','pawpaw','colanut','pawpaw','apple']
mlist2 =[].

Extract all the elements that appear more than once from mlist1 and store them in mlist2 and there must not be
duplicate in mlist2.

In [ ]:
mlist1 = ['apple', 'banana', 'orange', 'apple', 'banana', 'pawpaw', 'colanut', 'pawpaw', 'apple']
mlist2 = []

# Create a set to store elements that appear more than once
seen = set()
# Iterate through mlist1
for item in mlist1:
    # Check if the item has been seen before
    if mlist1.count(item) > 1 and item not in seen:
        mlist2.append(item)
        seen.add(item)

print("Elements that appear more than once:", mlist2)

Elements that appear more than once: ['apple', 'banana', 'pawpaw']

 mlist1 =['apple','banana','orange','apple','banana','pawpaw','colanut','pawpaw','apple']

each element in the list should be the key in the dict while the number of times each element appear in the list should be
the value to the corresponding element in the dict.

the result should be {'apple':3, 'banana':2,'orange':1,'pawpaw':2,'colanut':1}

In [ ]:
mlist1 =['apple','banana','orange','apple','banana','pawpaw','colanut','pawpaw','apple']

# Initialize an empty dictionary
frequency_dict = {}

# Count the occurrences of each element
for element in mlist1:
    if element in frequency_dict:
        frequency_dict[element] += 1
    else:
        frequency_dict[element] = 1

# Print the frequency dictionary
print(frequency_dict)

In [ ]:
mlist1 = ['apple', 'banana', 'orange', 'apple', 'banana', 'pawpaw', 'colanut', 'pawpaw', 'apple']
mlist2 = []

# Create a set to store elements that appear more than once
seen = set()
# Iterate through mlist1
for item in mlist1:
    # Check if the item has been seen before
    if mlist1.count(item) > 1 and item not in seen:
        mlist2.append(item)
        seen.add(item)

print("Elements that appear more than once:", mlist2)

 Write a Python program that calculates the Average Grade Point (AGP)of a student based on the scores entered by the user.
The program should:
i) prompt the user to enter the number of subjects
 ii) prompt the user to enter the scores for each subject,
iii) calculate the average grade using the formula: Average Grade = Total Score / Number of Subjects and
iv) display the average grade to the user.

In [ ]:
def calculate_average_grade_point():
    # Prompt the user to enter the number of subjects
    num_subjects = int(input("Enter the number of subjects: "))

    # Initialize total score to zero
    total_score = 0

    # Prompt the user to enter the scores for each subject
    for i in range(1, num_subjects + 1):
        score = float(input(f"Enter the score for subject {i}: "))
        total_score += score

    # Calculate the average grade
    average_grade = total_score / num_subjects

    return average_grade

def main():v
    average_grade = calculate_average_grade_point()
    print("Average Grade Point (AGP):", average_grade)

if __name__ == "__main__":
    main()

Enter the number of subjects: 2
Enter the score for subject 1: 5
Enter the score for subject 2: 3
Average Grade Point (AGP): 4.0

In [ ]:
# Prompt the user for the number of subjects
num_subjects = int(input("Enter the number of subjects: "))

# Initialize variables
total_score = 0

# Loop through each subject and get the score
for i in range(num_subjects):
    score = float(input("Enter the score for subject " + str(i + 1) + ": "))
    total_score += score

# Calculate the average grade
average_grade = total_score / num_subjects

# Display the average grade
print("The average grade is:", average_grade)

Enter the number of subjects: 2
Enter the score for subject 1: 3
Enter the score for subject 2: 5
The average grade is: 4.0