In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

In [20]:
import pandas as pd

students = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [20, 22, 21, 20, 23],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Grade': [85, 90, 78, 92, 88]
})

In [21]:
average_age = students['Age'].mean()

In [22]:
average_age

21.2

In [23]:
male_count = (students['Gender'] == 'Male').sum()

In [24]:
male_count

3

In [25]:
highest_female_grade = students[students['Gender'] == 'Female']['Grade'].max()

In [26]:
highest_female_grade

88

In [28]:
average_grade_age_20 = students[students['Age'] == 20]['Grade'].mean()

In [29]:
average_grade_age_20

88.5

In [30]:
sorted_students = students.sort_values(by='Grade', ascending=False)

In [31]:
sorted_students

      Name  Age  Gender  Grade
3    David   20    Male     92
1      Bob   22    Male     90
4      Eve   23  Female     88
0    Alice   20  Female     85
2  Charlie   21    Male     78